<div class="navigation">
	<input type="checkbox" class="navigation__toggle" id="navin-toggle" />
	<label for="navin-toggle" class="navigation__button">
		<span class="navigation__icon"></span>
	</label>

	<div class="navigation__background"></div>

	<nav class="navigation__nav">
		<ul class="navigation__list">
			<li class="navigation__item"><a href="#" class="navigation__link">о нас</a></li>
			<li class="navigation__item"><a href="#" class="navigation__link">скидки</a></li>
			<li class="navigation__item"><a href="#" class="navigation__link">лучшие туры</a></li>
			<li class="navigation__item"><a href="#" class="navigation__link">калькулятор цены</a></li>
			<li class="navigation__item"><a href="#" class="navigation__link">связаться с нами</a></li>
		</ul>
	</nav>
</div>
